.card {
    background-color: white;
    margin-bottom: 20px;
    border: none;
    padding: 0px;
    min-height: 420px;
}

.card h1 {
    font-size: 28px;
}

.card img {
    margin-bottom: 5px;
    width: 100%;
    margin-bottom: 0px;
    border: none;
    height: 200px !important;
    border-radius: 10px !important;
}

.card p {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 4; */
    -webkit-box-orient: vertical;
}

.divider {
    height: 8px;
    width: 200px;
    background-color: #2ba5e6;
    border-radius: 0px;
    margin-bottom: 20px;
}

.circular-border {
    border: 1px dashed #2ba5e6;
    padding: 5px;
    border-radius: 5px;
}