
/* 
  .bgp{
    background-color: #FF6600;
    height: 300px;
    opacity: 0.3;
  } */

  .headerTitle{
    position: absolute;
   
  }
  .headerTitle >h1{
    color: white;
  }
 

  .customeTitle{
    color: #FF6600;
  }

  @media screen and (max-width: 750px) {
    /* Rédigez vos propriétés CSS ici */
    .container-sm{
      padding: 5px !important;
    }
  }