.form-container{
    padding: 50px;
    color: white;
}

.form-control{
    height: 45px;
    border-radius: 5px;
    padding-left:10px;
    font-size: 15px;
    background-color: #f7f7f7;
    border: none !important;
}

.form-label{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

@media screen  and (max-width: 750px){
    .form-container{
     margin-top: 0px !important;
    }

    /* .hidden{
        display: none !important;
    } */
}