.toptext__nav {
  position: fixed;
  height: 65px;
  z-index: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #61bc45;
  font-size: 16px;
  font-weight: bold;
  color: white !important;
  border-bottom: 1px solid rgb(30, 29, 29) !important;
}

.navbar-lg {
  position: fixed;
  width: 100%;
  z-index: 10;
  margin-top: 65px;
  background-color: var(--primary-color) !important;
}

.navbar {
  color: white;
  padding-bottom: 0px;
  padding-top: 0px;
}

.slogan {
  text-align: center;
  margin-left: -30px;
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
  color: var(--danger-color) !important;
  max-width: 10px;
  line-height: 20px;
}

.logo {
  height: 100px;
  border-radius: 100px
}

.nav-link {
  font-weight: bold;
  font-size: 15px;
  margin-left: 25px;
  color: white;
}

.nav-link:hover {
  color: whitesmoke;
}

.nav-link:after {
  display: block;
  content: "";
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
}

.nav-link.fromRight:after {
  transform-origin: 100% 50%;
}

.nav-link.fromLeft:after {
  transform-origin: 0% 50%;
}

.nav-menu {
  display: none;
}

.menu__collaps {
  /* background-image: linear-gradient(to left, #f29a16e5 20%, #e3860cf3 80%), url("../../images/hero2-img.jpg"); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: none;
  background-color: var(--primary-color);
}

.menu__collaps__items {
  color: white;
  margin-top: 100px;
  font-size: 30px;
}

.menu__collaps__items li {
  padding-bottom: 20px;
  list-style-type: none;
}

.close__icon {
  margin-top: 100px;
  height: 50px;
  width: 50px;
  color: white;

  font-size: 50px;
  float: right;
}

.menu__collaps__items a {
  color: #fff;
}

/**
 RESPOSIVE
**/

@media screen and (max-width: 750px) {
  /* Rédigez vos propriétés CSS ici */

  .hidden-sm {
    display: none;
  }

  .navbar-expand {
    display: none;
  }

  .menu__collaps {
    display: none;
    height: 100vh;
    margin-top: 160px;
  }


  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo {
    height: 50px;
  }

  /* body {
    overflow: hidden;
  } */
}


.w-20,
.h-20 {
  height: 50px;
  width: 50px;
  padding: 2px;
}