.footer {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.bg-footer{
    background-color: var(--yellow-color) !important;
    color: var(--text-title-color) !important;
}

h3 {
    font-size: 20px;
    color: #000;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0px;
}

li{
    margin-left: 0px;  
}

.social-icon{
    margin-right: 5px;
    cursor: pointer;
}