.heading{
  background-image: url("https://sfycdn.speedsize.com/2bd2223f-6b1a-45f8-9551-6160d104096c/https://www.corston.fr/cdn/shop/collections/PN-Hardware_Banner_1920-x-700.jpg?v=1690537957");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 20px;
  margin-top: 70px;
}

@media screen and (max-width: 750px) {
    /* Rédigez vos propriétés CSS ici */
    .headerimg {
      height: 300px !important;
    }
  }