.text-secondary{
    color: #F39220 !important;
}

.text-primary{
    color: #0F377B !important;
}

.text-bold{
    font-weight: bold !important;
}

.no-padding{
    padding: 5px !important;
}

.primary-bg{
    background-color: #F39220 !important;
}
input{
    border: 1px solid #F39220 !important;
}
textarea{
    border: 1px solid #F39220 !important;

}

.text-color{
    color: black !important;
}