.banner-div {
    background-image: url("../../images/hero2-img.jpg");
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
    /* animation: shrink 3s infinite alternate; */
    padding-top: 130px;
    object-fit: contain;
    height: 100vh;
    display: flex !important;
    align-items: start !important;
    flex-direction: column;
    justify-content: center;
}

.slider-content {
    margin-top: 20px;
    color: black;
    margin-left: 15px;
    font-weight: bold;
}

h1 {
    font-size: 60px;
}

.hero__subTitle {
    max-width: 20.125em;
    margin-bottom: 1rem;
    font-family: 16px "Libre Franklin", sans-serif;
    font-size: 25px;
}

.hero__title {
    margin-bottom: 1rem;
    font-weight: bold;
}

.item {
    position: relative;
    height: max-content;
}

.dot-div {
    width: 100px;
    height: 20px;
    border-radius: 20px;
    padding: 8px 70px 8px 2px;
    border: none;
    margin-bottom: 20px;
    margin-left: 20px;
    display: inline-flex;
    float: left;
    padding: 2px;
    margin-top: 10px;
}

.dot-div span {
    border-radius: 20px;
    padding: 8px 70px 8px 2px;
    border: none;
    display: inline-flex;
    float: left;
}

.owl-carousel .active span {
    width: 100%;
    background-color: #ffbd59 !important;
    display: block;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-top: 0px;
}

.btn {
    padding: 10px 20px 10px 20px;
}

.btn-primary {
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 20px;
}

.btn:hover {
    background-color: #fff;
    color: #ffbd59;
}

.contact-usBtn {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    display: flex;
}

.btn-more {
    float: left;
    margin: 20px;
    font-weight: bold;
    font-family: "Heebo", Helvetica, Arial, sans-serif;
    color: #fafafa;
    letter-spacing: 0.2em;
    background-color: #ffbd59;
    border-radius: 100px;
    padding: 10px 100px 10px 100px;
    box-shadow: 1px 0px 1px 3px rgba(255, 255, 255, 0.418);
}

.banner-image {
    -webkit-animation: shake 10s ease-in-out;
    animation: shake 10s ease-in-out infinite;
    object-fit: contain;
    max-width: 300px;
    border: 5px solid white;
    border-radius: 30px;
    border-color: none !important;
    padding: 2px;
}

@keyframes shrink {
    0% {
        background-size: 110% 110%;
    }
    100% {
        background-size: 100% 100%;
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateX(0);
    }

    20% {
        -webkit-transform: translateX(-10px);
    }

    40% {
        -webkit-transform: translateX(10px);
    }

    60% {
        -webkit-transform: translateX(-10px);
    }

    80% {
        -webkit-transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 750px) {
    /* Rédigez vos propriétés CSS ici */

    .btn-more {
        margin-bottom: 50px !important;
        margin-bottom: 20px !important;
    }

    .banner-div {
        padding: 5px !important;
        padding-top: 100px !important;
        /* background-color: red !important; */
        background-image: linear-gradient(to left, #f29a16b3 10%, #e3860ce2 90%), url("../../images/hero2-img.jpg");
        background-position: bottom center;
        background-size: cover;
        color: white !important;
        height: max-content;
    }

    .slider-content {
        color: white !important;
    }

    .banner-image-row {
        padding: 70px !important;
        display: none !important;
    }

    h1 {
        font-size: 40px;
    }
    .hero__title {
        width: 100% !important;
    }

    .hero__subTitle {
        max-width: 25.125em;
        margin-bottom: 1rem;
        font-family: 16px "Libre Franklin", sans-serif;
        font-size: 20px;
    }

    .btn-more {
        margin-top: 0px;
        margin-bottom: 20px;
        font-family: "Heebo", Helvetica, Arial, sans-serif;
        color: #fafafa;
        font-weight: 200;
        letter-spacing: 0.2em;
        background-color: #262264;
        border-radius: 100px;
        width: 100%;
        padding: 10px 40px 10px 40px;
        box-shadow: 1px 0px 1px 3px rgba(255, 255, 255, 0.418);
    }

    .dot-div{
        display: none;
    }
}
